<header aria-hidden="true" class="no-print">
      <!--<h1 class="logo">{{ site.title }}</h1>-->
      <nav role="navigation" aria-hidden="true">
<ul>
   {% for item in site.data.navigation.links %}
      <li><a href="{{ item.url }}" {% if item.url == page.url %} class="active"{% endif %}>{{ item.title }}</a></li>
   {% endfor %}
   {% if site.github_username %}
      <li><a target="_blank" rel="external" href="https://github.com/{{ site.github_username }}">Github</a></li>
    {% endif %}
   {% if site.twitter_username %}
      <li><a target="_blank" rel="external" href="https://x.com/{{ site.twitter_username }}">Twitter</a></li>
    {% endif %}
   {% if site.linkedin_username %}
      <li><a target="_blank" rel="external" href="https://www.linkedin.com/in/{{ site.twitter_username }}">LinkedIn</a></li>
    {% endif %}
</ul>
</nav>
</header>
